.App {
  text-align: center;
  background: black;
  width: 100vw;
  height: 100vh;
  position: fixed;
}
h1 {
  color: white;
}

.st0 {
  fill: none;
}
.st1 {
  fill: none;
  stroke: #ffffff;
  stroke-width: 2;
}
.st2 {
  font-family: "AmericanTypewriter";
}
.st3 {
  font-size: 3.7rem;
}

#title {
  height: 40vh;
  width: 100vw;
  margin-top: 5vh;
}

.Buttons {
  height: 20vh;
  margin-top: -15vh;
}
.Response {
  height: 30vh;
  margin-top: 10vh;
}
.gameButton {
  background-color: white;
  width: 40vw;
  height: 100px;
  margin: 10px;
  border: none;
  border-radius: 2rem;
  font-size: 2rem;
  font-weight: bold;
}

.gameButton:hover {
  background-color: black;
  color: white;
}

.gameButton:active {
  border-style: none;
}
